@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root{
    --font-destaque: 'Passion One', cursive;
    --font-comum: 'Sriracha', cursive;
}
*{
    width: 100%;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header>h1{
    font-family: var(--font-destaque);
}
header>nav>a{
    text-decoration: none;
    color: white;
}
main{
    font-family: var(--font-comum);
}
main>p{
    margin-left: 20px;
    font-size: larger;
}
main>picture#p1{
    background-image: url(imagens/background001.jpg);
    
}
main>picture#p1>p{
    margin-left: 20px;
    font-size: larger;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    
}
main>picture#p2{
    background-image: url(imagens/background002.jpg);
}